@namespace Moka.Red.Layout.Divider
@inherits MokaVisualComponentBase

@if (HasContent)
{
	<div class="@CssClass" style="@CssStyle" id="@Id" role="separator" @attributes="AdditionalAttributes">
		<span class="moka-divider__line"></span>
		<span class="moka-divider__content">
			@if (ChildContent is not null)
			{
				@ChildContent
			}
			else
			{
				@Label
			}
		</span>
		<span class="moka-divider__line"></span>
	</div>
}
else
{
	<hr class="@CssClass" style="@CssStyle" id="@Id" role="separator" @attributes="AdditionalAttributes"/>
}
