@namespace Moka.Red.Primitives.Steps
@inherits MokaVisualComponentBase

<div class="@CssClass" style="@CssStyle" id="@Id" role="list" @attributes="AdditionalAttributes">
	@for (var i = 0; i < Steps.Count; i++)
	{
		var index = i;
		var isCompleted = index < CurrentStep;
		var isCurrent = index == CurrentStep;

		var stepClass = new CssBuilder("moka-steps-item")
			.AddClass("moka-steps-item--completed", isCompleted)
			.AddClass("moka-steps-item--current", isCurrent)
			.AddClass("moka-steps-item--clickable", Clickable)
			.Build();

		<div class="@stepClass" role="listitem">
			@if (Clickable)
			{
				<button class="moka-steps-marker" @onclick="() => HandleStepClick(index)" type="button">
					<span class="moka-steps-number">@(index + 1)</span>
				</button>
			}
			else
			{
				<div class="moka-steps-marker">
					<span class="moka-steps-number">@(index + 1)</span>
				</div>
			}
			<span class="moka-steps-label">@Steps[index]</span>
			@if (index < Steps.Count - 1)
			{
				<div class="moka-steps-connector"></div>
			}
		</div>
	}
</div>
