@namespace Moka.Red.Forms.FileUpload
@inherits MokaVisualComponentBase

<MokaFieldWrapper Label="@Label"
                  HelperText="@HelperText"
                  ErrorText="@ErrorText"
                  HasError="@(_errors.Count > 0 || !string.IsNullOrEmpty(ErrorText))"
                  InputId="@_inputId"
                  Disabled="@Disabled"
                  Size="@Size">
	<div class="@DropzoneCssClass"
	     @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave"
	     @ondragover:preventDefault @ondrop:preventDefault>
		@if (DragDrop && !Compact)
		{
			<div class="moka-fileupload-dropzone-content">
				<svg class="moka-fileupload-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
					<polyline points="17 8 12 3 7 8"/>
					<line x1="12" y1="3" x2="12" y2="15"/>
				</svg>
				<span class="moka-fileupload-text">Drag files here or</span>
				<label class="moka-fileupload-browse" for="@_inputId">Browse</label>
			</div>
		}
		else
		{
			<label class="moka-fileupload-browse-compact" for="@_inputId">Choose file(s)</label>
		}
		<InputFile id="@_inputId"
		           OnChange="HandleFileSelected"
		           accept="@Accept"
		           multiple="@Multiple"
		           class="moka-fileupload-native"/>
	</div>

	@if (ShowFileList && _files.Count > 0)
	{
		<div class="moka-fileupload-list">
			@foreach (var file in _files)
			{
				<div class="moka-fileupload-file">
					<span class="moka-fileupload-filename">@file.Name</span>
					<span class="moka-fileupload-filesize">@FormatSize(file.Size)</span>
					<button class="moka-fileupload-remove" @onclick="() => RemoveFile(file)" type="button">
						<svg width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M18 6L6 18 M6 6l12 12"/>
						</svg>
					</button>
				</div>
			}
		</div>
	}

	@if (_errors.Count > 0)
	{
		<div class="moka-fileupload-errors">
			@foreach (var error in _errors)
			{
				<div class="moka-fileupload-error">@error</div>
			}
		</div>
	}
</MokaFieldWrapper>
