@namespace Moka.Red.Forms.PasswordStrength
@inherits MokaComponentBase

<div class="@CssClass" style="@CssStyle" id="@Id" @attributes="AdditionalAttributes">
	<div class="moka-password-strength__bar">
		@for (var i = 0; i < 4; i++)
		{
			<div class="moka-password-strength__segment @(i < Strength ? "moka-password-strength__segment--active" : "")"></div>
		}
	</div>
	@if (ShowLabel && !string.IsNullOrEmpty(StrengthLabel))
	{
		<span class="moka-password-strength__label">@StrengthLabel</span>
	}
	@if (ShowRequirements)
	{
		<ul class="moka-password-strength__requirements">
			<li class="moka-password-strength__requirement @(HasMinLength ? "moka-password-strength__requirement--met" : "")">
				At least @MinLength characters
			</li>
			@if (RequireUppercase)
			{
				<li class="moka-password-strength__requirement @(HasUppercase ? "moka-password-strength__requirement--met" : "")">
					Uppercase letter
				</li>
			}
			@if (RequireLowercase)
			{
				<li class="moka-password-strength__requirement @(HasLowercase ? "moka-password-strength__requirement--met" : "")">
					Lowercase letter
				</li>
			}
			@if (RequireDigit)
			{
				<li class="moka-password-strength__requirement @(HasDigit ? "moka-password-strength__requirement--met" : "")">
					Digit
				</li>
			}
			@if (RequireSpecial)
			{
				<li class="moka-password-strength__requirement @(HasSpecial ? "moka-password-strength__requirement--met" : "")">
					Special character
				</li>
			}
		</ul>
	}
</div>
