@namespace Moka.Red.Forms.PasswordField
@inherits MokaTextInputBase<string>

<MokaFieldWrapper Label="@Label"
                  Required="@Required"
                  HelperText="@HelperText"
                  ErrorText="@ErrorText"
                  HasError="@HasError"
                  InputId="@_inputId"
                  Disabled="@Disabled"
                  Size="@Size">
	<div class="@ComputedCssClass" style="@ComputedStyle">
		<input class="@InputCssClass"
		       type="@ResolvedInputType"
		       value="@CurrentValueAsString"
		       @oninput="HandleInput"
		       @onfocus="HandleFocusAsync"
		       @onblur="HandleBlurAsync"
		       placeholder="@Placeholder"
		       maxlength="@MaxLength"
		       readonly="@ReadOnly"
		       disabled="@Disabled"
		       id="@_inputId"
		       @attributes="AdditionalAttributes"/>
		@if (ShowToggle)
		{
			<button type="button"
			        class="moka-passwordfield-toggle"
			        @onclick="ToggleVisibility"
			        tabindex="-1"
			        aria-label="@(_showPassword ? "Hide password" : "Show password")">
				<MokaIcon Icon="@(_showPassword ? MokaIcons.Toggle.EyeOff : MokaIcons.Toggle.Eye)" Size="MokaSize.Xs"/>
			</button>
		}
	</div>
</MokaFieldWrapper>
